html {
  background: url(../images/water-park.jpg) no-repeat top left;
}

#ring {
  background: url(../images/water-ring.png) no-repeat top left;
  width: 1200px;
  height: 750px;
  position: relative;
  top: -10px;
  left: -8px;
  z-index: 1;
}

#dolphin {
  position: absolute;
  top: 400px;
  right: 0;
}

@media only screen and (max-width:950px) {
  #dolphin{
    top: 0px;
    transform: rotate(0.5turn);
  }
}
@media only screen and (max-width:700px) {
  #dolphin{
    top: 400px;
    transform: rotate(0.0turn);
  }
}
/* Write your solution here */
